.button {
  padding: 30px;
  height: 250px;
  color: black;
  background: #fff;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 32px;
  outline: none;
  z-index: 1;
}

.highlight {
  transition-delay: 50ms;
  z-index: 10;
  box-shadow: 0 35px 35px #40310a;
}

.pianoButtonContainer > .black {
  color: white;
}

.dark {
  background: black;
  color: white;
  position: relative;
  right: 25px;
  height: 130px;
  padding: 20px;
  margin-left: 2px;
  margin-right: -45px;
  z-index: 100;
}

.text {
  position: absolute;
  z-index: 100;
  margin: 20px -10px -10px -10px;
  font-size: 15px;
}
